.list {
    margin: 15px;
    padding-left: 0;
    list-style: none;
}

.item {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.68;
}

.link {
    text-decoration: none;
}